services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            $mercureTopicStations: '%env(MERCURE_TOPIC_STATIONS)%'
            $mercureTopicStats: '%env(MERCURE_TOPIC_STATS)%'

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Kernel.php'

parameters: {}